# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
build/
.npm/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

# Temporary files
/tmp/*
*.log
sql_app.db
backend/test.db
